.todo_app {
	width: 100%;
	min-height: 100vh;
	background-color: #231f20;
	padding: 1em;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-family: var(--title-font);
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;

	font-size: 3rem;
	letter-spacing: 2px;
}

.container {
	width: 70%;
}

@media (max-width: 1280px) {
	.title {
		font-size: 3rem;
		letter-spacing: 1px;
	}

	.container {
		width: 100%;
	}
}

@media (max-width: 780px) {
	.title {
		font-size: 2rem;
		letter-spacing: 1px;
	}

	.container {
		width: 100%;
	}
}
