.container.login {
	padding: 1em;
	background-color: var(--very-dark);
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
}

.login .subtitle {
	margin-bottom: 1em;
}

.login.input {
	width: 100%;

	padding: 1em;
	background-color: var(--accent);
	border: none;
	border-radius: 10px;
	outline: none;

	color: var(--very-dark);
	font-size: 2rem;
	text-align: center;
}

.login.input::placeholder {
	color: var(--very-dark);
	opacity: 0.5;
}

@media (max-width: 1280px) {
	.container.login {
		margin: auto;
	}

	.login .todo_button {
		width: 100%;
	}
}

@media (max-width: 780px) {
	.login.input {
		font-size: 1rem;
	}
}
